.subway {
  position: relative;
  width: 100%;
  height: 100%;

  div[id="line-container"] {
    position: absolute;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  div[id="metroMap"] {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: vw(70px);
  }
  div[id="lineSelectedBar"] {
    position: absolute;
    left: vw(375px);
    bottom: 0;
  }
}
