.wrapper {
  margin-bottom: 85px;
  width: vw(1140px);
  height: vw(810px);
  color: $MAIN;
  background-image: url("/images/game.png");
  background-size: cover;
  background-position: center;
  h1 {
    margin-bottom: vw(150px);
    -webkit-text-stroke: 5px $WHITE;
  }
  div, button {
    width: vw(282px);
    height: vw(80px);
    border: 8px solid $MAIN;
    border-radius: 46px;
    text-transform: uppercase;
    background-color: $WHITE;
    cursor: pointer;
  }
  div {
    margin-bottom: vw(28px);
  }
}
