.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: $GRAY_ED;
  padding-top: vw(20px);
  .station {
    width: 70%;
  }
  .roomList {
    margin-top: vw(50px);
    display: grid;
    grid-template-columns: repeat(2, vw(414px));
    grid-template-rows: repeat(3, vw(100px)) vw(140px);
    column-gap: vw(64px);
    row-gap: vw(30px);
    .room {
      padding: vw(18px) vw(30px);
      width: vw(414px);
      height: vw(100px);
      border-radius: 22px;
      background-color: $GRAY_3A;
      cursor: pointer;
      &:hover {
        transform: scale(1.05) translateY(-8px);
      }
      p {
        color: $WHITE;
        span {
          margin-right: vw(24px);
          padding: vw(14px);
          width: vw(64px);
          height: vw(64px);
          border-radius: 50%;
          background-color: $WHITE;
          color: $GRAY_3A;
        }
      }
    }
    .chair1 {
      width: 40%;
    }
    button {
      grid-column-start: 2;
      justify-self: flex-end;
      align-self: flex-start;
      margin-top: vw(20px);
      width: vw(164px);
      height: vw(56px);
      border: 4px solid $L1;
      border-radius: 20px;
      background-color: $WHITE;
      color: $L1;
    }
  }
}

// @media screen and (min-width: $DESKTOP-VW) {
//   .wrapper {
//     height: 100vh;
//     // padding-top: 12vh;
//     .station {
//       width: 120vh;
//     }
//     .roomList {
//       margin-top: 8vh;
//       grid-template-columns: repeat(2, 60vh);
//       grid-template-rows: repeat(3, 14vh) 140px;
//       column-gap: 64px;
//       row-gap: 30px;
//       .room {
//         width: 60vh;
//         height: 14vh;
//         p {
//           span {
//             margin-right: 24px;
//             padding: 14px;
//             width: 64px;
//             height: 64px;
//           }
//         }
//       }
//       .chair1 {
//         width: 40%;
//       }
//       button {
//         margin-top: 20px;
//         width: 164px;
//         height: 56px;
//       }
//     }
//   }
// }
