.wrapper {
  width: 100%;
  height: 100%;
  background-color: $GRAY_ED;
  h2 {
    margin-top: vw(30px);
    margin-bottom: vw(30px);
    // width: vw(554px);
    // height: vw(100px);
    padding: vw(30px) vw(158px);
    border-radius: 22px;
    background-color: $GRAY_3A;
    color: $WHITE;
    span {
      color: $SUB_YELLOW;
    }
  }
}

.userList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: vw(44px);
  margin-bottom: vw(130px);
  .user {
    width: vw(202px);
    height: vw(68px);
    border-radius: 22px;
    background-color: $GRAY_5F;
    color: $WHITE;
  }
}

.line {
  margin-bottom: vw(100px);
  width: 100%;
  height: vw(90px);
  background-color: $LS;
  input {
    width: vw(292px);
    height: vw(292px);
    border: 20px solid $LS;
    border-radius: 50%;
    text-align: center;
    background-color: $WHITE;
  }
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 80%;
  button {
    color: $GRAY_3A;
  }
  .chair2 {
    justify-self: flex-end;
    width: 30%;
  }
}