.card {
  width: (518px);
  height: (920px);
  background-color: $WHITE;
  border-radius: (59px);
  color: $GRAY-3A;
  border: (8px) solid $L1;
  box-shadow: 0px 0px (19px) (14px) rgba(255, 255, 255, 0.44);
  //   .contents {
  .num {
    padding: (10px) (26px);
    background-color: $L1;
    color: $WHITE;
    border-radius: (12px);
    margin: 0 0 (30px) 0;
    // }
  }
  .img {
    width: (420px);
    height: (300px);
    border-radius: (18px);
    overflow: hidden;
    margin: (40px) 0 (24px) 0;
    .sub {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .stars {
    span {
      margin: 0 (30px);
    }
  }
  .detail {
    margin-top: (34px);
    .txt {
      //   justify-content: flex-end;
      margin-bottom: (24px);
      span {
        &:nth-child(1) {
          width: (75px);
          text-align: end;
          margin-right: (30px);
        }
        &:nth-child(2) {
          width: (289px);
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
    }
  }
  button {
    margin-top: (20px);
    background-color: $KAKAO_YELLOW;
    border-radius: (14px);
    padding: (10px) (20px);
    .btn_txt {
      margin-left: (10px);
      color: $KAKAO_BROWN;
    }
    &:hover {
      opacity: 0.7;
    }
  }
}

@media screen and (max-width: $DESKTOP-VW) {
  .card {
    width: vw(518px);
    height: vw(920px);
    border-radius: vw(59px);
    border: vw(8px) solid $L1;
    box-shadow: 0px 0px vw(19px) vw(14px) rgba(255, 255, 255, 0.44);
    //   .contents {
    .num {
      padding: vw(10px) vw(26px);
      border-radius: vw(12px);
      margin: 0 0 vw(30px) 0;
      // }
    }
    .img {
      width: vw(420px);
      height: vw(300px);
      border-radius: vw(18px);
      margin: vw(40px) 0 vw(24px) 0;
      .sub {
        width: 100%;
        height: 100%;
      }
    }
    .stars {
      span {
        margin: 0 vw(30px);
      }
    }
    .detail {
      margin-top: vw(34px);
      .txt {
        margin-bottom: vw(24px);
        span {
          &:nth-child(1) {
            width: vw(75px);
            text-align: end;
            margin-right: vw(30px);
          }
          &:nth-child(2) {
            width: vw(289px);
          }
        }
      }
    }
    button {
      margin-top: vw(20px);
      border-radius: vw(14px);
      padding: vw(10px) vw(20px);
      .btn_txt {
        margin-left: vw(10px);
      }
    }
  }
}

@media screen and (max-width: $TABLET-VW) {
  .card {
    width: (330px);
    height: (600px);
    border-radius: (59px);
    border: (6px) solid $L1;
    // box-shadow: 0px 0px (19px) (14px) rgba(255, 255, 255, 0.44);

    .num {
      font-size: (16px);
      padding: (10px) (26px);
      border-radius: (12px);
      margin: 0 0 (12px) 0;
    }
    :nth-child(2) {
      font-size: (20px);
    }
    .img {
      width: (270px);
      height: (150px);
      border-radius: (18px);
      margin: (24px) 0 (24px) 0;
      .sub {
        width: 100%;
        height: 100%;
      }
    }
    .stars {
      span {
        margin: 0 (30px);
      }
    }
    .detail {
      margin-top: (34px);
      .txt {
        margin-bottom: (20px);
        // font-size: (12px);
        span {
          &:nth-child(1) {
            font-size: (12px);
            width: (50px);
            text-align: end;
            margin-right: (13px);
          }
          &:nth-child(2) {
            font-size: (12px);
            width: (190px);
          }
        }
      }
    }
    button {
      margin-top: (10px);
      border-radius: (14px);
      padding: (10px) (20px);
      .btn_txt {
        margin-left: (10px);
        font-size: (12px);
      }
    }
  }
}

@media screen and (max-width: $PHONE-VW) {
  .card {
    width: vw-p(330px);
    height: vw-p(600px);
    border-radius: vw-p(59px);
    border: vw-p(6px) solid $L1;
    // box-shadow: 0px 0px vw-p(19px) vw-p(14px) rgba(255, 255, 255, 0.44);

    .num {
      font-size: vw-p(16px);
      padding: vw-p(10px) vw-p(26px);
      border-radius: vw-p(12px);
      margin: 0 0 vw-p(12px) 0;
    }
    :nth-child(2) {
      font-size: vw-p(20px);
    }
    .img {
      width: vw-p(270px);
      height: vw-p(150px);
      border-radius: vw-p(18px);
      margin: vw-p(24px) 0 vw-p(24px) 0;
    }
    .stars {
      span {
        margin: 0 vw-p(30px);
      }
    }
    .detail {
      margin-top: vw-p(34px);
      .txt {
        margin-bottom: vw-p(20px);
        // font-size: vw-p(12px);
        span {
          &:nth-child(1) {
            font-size: vw-p(12px);
            width: vw-p(50px);
            margin-right: vw-p(13px);
          }
          &:nth-child(2) {
            font-size: vw-p(12px);
            width: vw-p(190px);
          }
        }
      }
    }
    button {
      margin-top: vw-p(10px);
      border-radius: vw-p(14px);
      padding: vw-p(10px) vw-p(20px);
      .btn_txt {
        margin-left: vw-p(10px);
        font-size: vw-p(12px);
      }
    }
  }
}
