.result {
  .contents {
    margin-top: (28px);
    .title {
      color: $GRAY-3A;
      margin-bottom: (80px);
      .food {
        padding: (19px) (93px);
        border: (8px) solid $MAIN;
        border-radius: (46px);
        margin: 0 (52px);
        span {
          color: $MAIN;
        }
      }
    }
    .btns {
      margin-top: (60px);
      .btn {
        padding: (16px) (28px);
        background-color: $GRAY-BA;
        color: $WHITE;
        border-radius: (30px);
        margin: 0 (20px);
        &:hover {
          background-color: $MAIN;
        }
      }
    }
  }
}

@media screen and (max-width: $DESKTOP-VW) {
  .result {
    .contents {
      margin-top: vw(28px);
      .title {
        margin-bottom: vw(80px);
        .food {
          padding: vw(19px) vw(93px);
          border: vw(8px) solid $MAIN;
          border-radius: vw(46px);
          margin: 0 vw(52px);
        }
      }
    }
    .btns {
      margin-top: vw(60px);
      .btn {
        padding: vw(16px) vw(28px);
        border-radius: vw(30px);
        margin: 0 vw(20px);
      }
    }
  }
}
@media screen and (max-width: $TABLET-VW) {
  .result {
    .contents {
      margin-top: (40px);

      .title {
        font-size: (20px);
        margin-bottom: (40px);
        flex-direction: column;
        :nth-child(3) {
          display: none;
        }
        .food {
          font-size: (24px);
          padding: (13px) (60px);
          border: (6px) solid $MAIN;
          border-radius: (46px);
          margin: (16px) 0 0 0;
        }
      }
      .btns {
        margin-top: (30px);
        .btn {
          padding: (16px) (12px);
          margin: 0 (10px);
          border-radius: (20px);
          font-size: (18px);
        }
      }
    }
  }
}
@media screen and (max-width: $PHONE-VW) {
  .result {
    .contents {
      margin-top: vw-p(40px);

      .title {
        font-size: vw-p(20px);
        margin-bottom: vw-p(40px);
        .food {
          font-size: vw-p(24px);
          padding: vw-p(13px) vw-p(60px);
          border: vw-p(6px) solid $MAIN;
          border-radius: vw-p(46px);
          margin: vw-p(16px) 0 0 0;
        }
      }
      .btns {
        display: flex;
        flex-direction: column;
        margin-top: vw-p(20px);
        .btn {
          padding: vw-p(16px) vw-p(20px);
          margin: 0;
          margin-top: vw-p(20px);
          border-radius: vw-p(20px);
          font-size: vw-p(18px);
        }
      }
    }
  }
}
