.circle {
  padding: vw(6px) vw(9px);
  min-height: vw(24px);
  min-width: vw(24px);

  border-radius: vw(24px);
  color: white;

  white-space: nowrap;

  &:hover {
    cursor: pointer;
    transform: scale(1.2);
  }
}
